* {
  margin: 0;
  padding: 0;
}

#ProjectAll {
  width: 100%; // 2560(QHD), 1920(FHD), 1680, 1440
  // height: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  margin-top: 40px;
  #subject {
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
  }
  .image {
    margin-top: 10px;
    width: 48px;
    height: 48px;
  }
  .expression {
    font-size: 25px;
    font-weight: bold;
  }
}
#partAndTakeaway {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-evenly;
}
