* {
  margin: 0;
  padding: 0;
}

#VueProjectAll {
  width: 100%; // 2560(QHD), 1920(FHD), 1680, 1440
  // height: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  margin-top: 40px;
  #subject {
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
  }
  .image {
    margin-top: 10px;
    width: 48px;
    height: 48px;
  }
  .expression {
    font-size: 25px;
    font-weight: bold;
  }
}
#activityAndPartTime {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-evenly;
  .activity {
    width: 512px;
    height: 600px;
    border: 1px solid #2980b9;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
  }
}

#accordion {
  justify-content: center;
  width: 1024px; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
  .accordion-button:not(.collapsed) {
    color: black;
    background-color: #f1f1f1;
  }
  .accordion-button {
    background-color: #f9f9f9;
    height: 20px;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    background-color: #f9f9f9;
    &:hover {
      background-color: #f1f1f1;
    }
    padding: 1rem;
  }
  .content {
    padding: 1rem;
    white-space: pre-wrap;
  }
}
