<<<<<<< HEAD
<<<<<<< HEAD
.success {
  background-color: lightgreen;
}

.failure {
  background-color: lightcoral;
}
=======
.success {
  background-color: lightgreen;
}

.failure {
  background-color: lightcoral;
}
>>>>>>> c5bd7ae621c4be49a836c60c59c3c1748182ecce
=======
.success {
  background-color: lightgreen;
}

.failure {
  background-color: lightcoral;
}
>>>>>>> c5bd7ae621c4be49a836c60c59c3c1748182ecce
