* {
  margin: 0;
  padding: 0;
}
#mainTopNavber {
  justify-content: center;
  background-color: #2980b9;
  text-align: center;
  width: 100%; // 2560(QHD), 1920(FHD), 1680, 1440
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 40px;
  @media (max-width: 800px) {
    width: 800px;
  }
  #mainTitle {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  #loginAndRegister {
    float: right;
    font-size: 15px;
    margin-right: 30px;
    font-weight: bold;
    color: white;
    .LoginAndLogout {
      text-decoration: none;
      color: white;
      margin-right: 20px;
    }
    .RegisterAndMyPage {
      text-decoration: none;
      color: white;
      margin-left: 20px;
    }
  }
  #navbarMain {
    background-color: #2980b9;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    #topNav {
      //네비바
      justify-content: space-evenly;
      text-align: center;
      margin-left: 20px;
      display: flex;
      .introduce {
        text-decoration: none;
        color: white;
      }
      .qna {
        text-decoration: none;
        color: white;
      }
      #Dropdown {
        color: white;
        text-decoration: none;
      }

      .dropbtn {
        border: none;
        padding: 16px;
        font-size: 16px;
        color: white;
        border-color: none;
        background-color: #998380;
      }
      .dropdown:hover {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: relative;
        z-index: 100;
        color: black;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        min-width: 150px;
      }

      .dropdown-content Link {
        text-decoration: none;
        display: block;
        padding: 0px;
      }

      .dropdown-content Link :hover {
        background: #ff1111;
        color: red;
      }
      .dropdown:hover .dropbtn {
        background: #008000;
      }
      .dropdown:hover .dropdown-content {
        display: block;
        z-index: 100;
      }
    }
  }
}
